.Order {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.OrderIngredient {
    width: 20%;
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.OrderIngredientContainer {
    display: flex;
    flex-flow: row;
    padding: 10px;
    box-sizing: border-box;
}

@media (max-width: 500px) {
    .OrderIngredientContainer {
        flex-flow: column;
    }
    .OrderIngredient{
        width: 80%;
    }
}